#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.comments-container {
	max-width: 90vw;
	border: 2px dashed green;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.comment-card {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.reviews-container {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.review-card {
	max-width: 90vw;
	border: 2px dashed red;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.review-image {
	max-width: 85vw;
}

.individual-review-container {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.individual-review-card {
	max-width: 90vw;
	border: 2px dashed red;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.individual-review-image {
	max-width: 85vw;
}
