#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

nav a {
	padding: 0 2rem 0 2rem;
}

p {
	padding: 0 2rem 0 2rem;
}

ul {
	list-style-type: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

form {
	padding: 0.5rem;
}

form label {
	padding: 0.5rem;
}

.card {
	padding: 2em;
}

.comments-container {
	max-width: 90vw;
	border: 2px dashed green;
	border-radius: 20px;
	padding: 2px;
	margin: 2px auto;
}

.comment-card {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.categories-container {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.category-card {
	max-width: 90vw;
	border: 2px dashed red;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.reviews-container {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.review-card {
	max-width: 90vw;
	border: 2px dashed red;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.review-image {
	max-width: 75vw;
}

.individual-review-container {
	max-width: 90vw;
	border: 2px dashed blue;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.individual-review-card {
	max-width: 90vw;
	border: 2px dashed red;
	border-radius: 20px;
	padding: 2px;
	margin: 2px;
}

.individual-review-image {
	max-width: 85vw;
}
